@tailwind base;
@tailwind components;
@tailwind utilities;


*{
   /* outline: 1px solid red; */

}
body{
  background-color:#f1f1f1 ;
}

input[type="file"] {
    display: none;
}

input{
  background-color: skyblue;
      overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: deepskyblue; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

textarea {
  
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

code-css{
  height: 200px;
}